root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.{json,yml}]
indent_size = 2

[*.{kt,kts}]
ktlint_code_style = android_studio
max_line_length = 120
compose_allowed_composition_locals = LocalDimensions
ktlint_function_naming_ignore_when_annotated_with = Composable
ktlint_standard_function-signature = disabled
ij_kotlin_line_break_after_multiline_when_entry = false
