<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="net.simno.dmach">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".DMachApp"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="false"
        tools:ignore="GoogleAppIndexingWarning,LockedOrientationActivity">

        <activity
            android:name=".machine.MachineActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/DMachTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".patch.PatchActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/PatchTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:label="@string/oss_license_title"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/OssLicenses" />

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/OssLicenses" />

        <service
            android:name=".playback.PlaybackService"
            android:exported="false" />

    </application>

</manifest>
